main {
    margin: 100px auto;
    text-align: center;
    display: grid;
    padding: 50px 0;
    border: 1px solid;
    width: 400px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

header {
    color: brown;
    background-color: gold;
    width: 300px;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
}

input {
    margin: 10px auto;
    height: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid gold;
    text-align: right;
    font-size: 20px;
}

.first-row {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 5px auto;
}

.second-row {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 5px auto;
}

.third-row {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 5px auto;
}

.fourth-row {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 5px auto;
}

.fifth-row {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 5px auto;
}

.first-row button {
    background-color: gray;
    border-radius: 10px;
    color: green;
    border: 1px solid black;
    padding: 5px;
    width: 40px;
}

.second-row button {
    background-color: gray;
    border-radius: 20px;
    color: green;
    border: 1px solid black;
    padding: 5px;
    width: 40px;
}

.third-row button {
    background-color: gray;
    border-radius: 10px;
    color: green;
    border: 1px solid black;
    padding: 5px;
    width: 40px;
}

.fourth-row button {
    background-color: gray;
    border-radius: 20px;
    color: green;
    border: 1px solid black;
    padding: 5px;
    width: 40px;
}

.fifth-row button {
    background-color: gray;
    border-radius: 10px;
    color: green;
    border: 1px solid black;
    padding: 5px;
    width: 40px;
}

.first-row .letra-c {
    color: red;
}

.suma:hover,
.resta:hover,
.multiplicacion:hover,
.division:hover,
.modulo:hover,
.parentesis:hover {
    background-color: red;
}

.letra-c:hover {
    background-color: green;
}

.second-row .numero7,
.second-row .numero8,
.second-row .numero9,
.third-row .numero6,
.third-row .numero5,
.third-row .numero4,
.fourth-row .numero3,
.fourth-row .numero2,
.fourth-row .numero1,
.fifth-row .mas-menos,
.fifth-row .numero0,
.fifth-row .punto,
.fifth-row .igual {
    color: white;
    background-color: rgb(83, 82, 82);
}

.second-row .numero7:hover,
.second-row .numero8:hover,
.second-row .numero9:hover,
.third-row .numero6:hover,
.third-row .numero5:hover,
.third-row .numero4:hover,
.fourth-row .numero3:hover,
.fourth-row .numero2:hover,
.fourth-row .numero1:hover,
.fifth-row .mas-menos:hover,
.fifth-row .numero0:hover,
.fifth-row .punto:hover,
.fifth-row .igual:hover {
    color: white;
    background-color: red;
}

.fifth-row .igual {
    background-color: green;
}